<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3><%=title%></h3>
<form action="/ass" method="post">
    <div >用户名</div>
    <input type="text" name="name" >
    <div >密码</div>
    <input type="text" name="password" >
    <button type="submit">登录</button>
</form>
</body>
</html>